nav > ul > li {
   display: inline;
   margin-right: 15px;
}
nav li > a{
   text-decoration: none;
}
footer{
   text-align: center;
   margin-top: 30px;
}
.allah{
   text-align: center;
   color: red;
   margin-top: 20px;
}
img{
   box-shadow: 10px 10px 60px gold;
}