h1{
    text-align: center;
    color: blue;
    background-color:gray ;
}


span{
    background-color:red ;
    color: white;
}


ehan{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 221
}


div{
    text-align: center;
}