h3{
   font-size: 20px;
   text-decoration: underline;
   font-family: 'courier new', courier, monospace; 
}
.blog{
   margin: 40px;
   border: 10px solid tomato;
   box-shadow: 10px 10px 20px gold;                  
}
.first{
   /*display: none;*/
   /*visibility: hidden;*/
}
.second{
   box-shadow: 10px 10px 20px cyan;
}
.third{
   box-shadow: 10px 10px 20px purple;
}
.Lorem{
   border: 2px solid #7D007E;
   /*display: block;*/
   /*display: inline-block;*/
   /*height: 50px;*/
   /*margin: 50px;*/
   /*padding: 50px;*/
}
.hamdan{
   height: 400px;
   /*background-color: #FEE3C3;*/
   /*background-image: url('image 19.jpeg');*/
   /*background-image: url('../image 18.webp');*/
   background-image: url('../picture list/images/image 13.jpeg');
   /*background-repeat: no-repeat;*/
   /*background-repeat: repeat-x;*/
   /*background-repeat: repeat-y;*/
   /*background-size: cover;*/
   /*background-size: contain;*/
   /*background-size: 220px;*/
}
.Malorum{
   border: 2px solid #CA8440;
   height: 20px;
   /*display: block;*/
   display: inline-block;
}







